<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
     <style>
    .header{
     padding: 20px;
     text-align: center;
     background: #05445E;
     color: #FFFFFF;
    font-size: 30px;
    }
    </style>
  </head>
  <body>
    
   <!-- <div class="header">
  <h1 style="color:white;" >Minu Philip</h1>
   </div> -->
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h1 style="text-align:center;font-family:verdana"> Minu Philip </h1> 
    
    <nav style="text-align:center; color: #324052">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Research">Research</a></li>
        <li><a href="/Teaching">Teaching</a></li>
        <li><a href="/Contact">Contact</a></li>
      </ul>
    </nav>
    <div class="divider div-transparent div-dot"></div>
    
    <div class="wrapper">
      <header>
        <img src="Files/IMG_0655.jpg" />
      
      </header>
      
      <section>
      {{ content }}
      </section>
    </div>
  </body>
 
</html>
