<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <h1 style="text-align:center;"> Minu Philip </h1>
    
     <nav style="text-align:center; padding-bottom: 30px;">
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/Research">Research</a></li>
        <!-- <li><a href="/Teaching">Teaching</a></li>
        <li><a href="/Contact">Contact</a></li> -->
      </ul> 
    
    
      <div class ="custom-select">
      <select onchange="location = this.value;">
      <option value =""selected="selected">Select</option>
      <option value ="/">About</option>
      <option value ="/Research">Research</option>
      <!-- <option value ="/Teaching">Teaching</option>
      <option value ="/Contact">Contact</option> -->
    </select>
       </div>
       
    </nav>
    
    
    <div class="divider div-transparent div-dot"></div>

      {{ content }}

  </body>
</html>
